In [3]:
import sys

# Pythonの検索パスに、親フォルダ（プロジェクトルート）を追加する
# これにより、'src'フォルダが正しく見つかる
if '..' not in sys.path:
    sys.path.append('..')

# これで、srcはパッケージとして認識され、中の部品をインポートできる
from src.my_pandas_utils import load_data_from_csv

# 読み込むファイルの正しいパスを指定する。
# パスは、あくまで「このノートブックの現在地」から見なければならない！
file_path_true_final = '../data/sales.csv'

# 作成した、完璧な部品（関数）を実行する
sales_df = load_data_from_csv(file_path_true_final)

# 結果を表示する
sales_df

'../data/sales.csv' の読み込みに成功しました。

         Date Product  Sales
0  2025-07-01   Apple    150
1  2025-07-01  Orange     80
2  2025-07-02   Apple    220
3  2025-07-02  Banana     95
4  2025-07-03  Orange    180
5  2025-07-03   Apple    250